.button{
  position: relative;
  display:block;
  //background: transparent;
  width:220px;
  height:56px;
  text-align:center;
  font-size: 0.8em;
  color:#fff;
  margin: 10px 0;
  cursor: pointer;
  font-family: FridayDisplayRegular;

  &.violet {
    &::before {
      border-top: 2px solid var(--violet);
      border-left: 2px solid var(--violet);
      border-right: 2px solid var(--violet);
    }
  }

  &.active.violet {
    &::before {
      border-top: 2px solid var(--yellow);
      border-left: 2px solid var(--yellow);
      border-right: 2px solid var(--yellow);
    }
  }

  &.yellow {
    &::before {
      border-top: 2px solid var(--yellow);
      border-left: 2px solid var(--yellow);
      border-right: 2px solid var(--yellow);
    }
  }

  &.active.yellow {
    &::before {
      border-top: 2px solid var(--violet);
      border-left: 2px solid var(--violet);
      border-right: 2px solid var(--violet);
    }
  }

  &.violet {
    &::after {
      border-bottom: 2px solid var(--violet);
      border-left: 2px solid var(--violet);
      border-right: 2px solid var(--violet);
    }
  }

  &.active.violet {
    &::after {
      border-bottom: 2px solid var(--yellow);
      border-left: 2px solid var(--yellow);
      border-right: 2px solid var(--yellow);
    }
  }

  &.yellow {
    &::after {
      border-bottom: 2px solid var(--yellow);
      border-left: 2px solid var(--yellow);
      border-right: 2px solid var(--yellow);
    }
  }

  &.active.yellow {
    &::after {
      border-bottom: 2px solid var(--violet);
      border-left: 2px solid var(--violet);
      border-right: 2px solid var(--violet);
    }
  }
}

.active {
}

.text {
  position: absolute;
  top: 47%;  /* position the top  edge of the element at the middle of the parent */
  left: 53%; /* position the left edge of the element at the middle of the parent */
  width: 90%;
  transform: translate(-50%, -50%);
}

.arc {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: FridayCondensedRegular;
  font-stretch: ultra-condensed;
  translate: -50% -50%;
  top: 50%;
  left: -1%;
  z-index: 100;

  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);

  span {
    z-index: 150;
  }

  &.yellow {
    background: var(--yellow);
    color: var(--violet);
  }

  &.violet {
    background: var(--violet);
    color: var(--yellow);
  }
  &.active.yellow {
    background: var(--violet);
    color: var(--yellow);
  }
  &.active.violet {
    background: var(--yellow);
    color: var(--violet);
  }
}

.line {
  position: absolute;
  display: block;
  height: 2px;
  width: 100vw;
  border: 0;
  //border-bottom: 3px solid #e60086;
  padding: 0;
  translate: 0 50%;
  left: 104.5%;
  bottom: 50%;
  top: 32.5%;
  z-index: -5;

  &.yellow {
    background: var(--yellow);
  }

  &.violet {
    background: var(--violet);
  }
  &.active.yellow {
    background: var(--violet);

  }
  &.active.violet {
    background: var(--yellow);
  }
}

.button:before, .button:after {
  width:220px;
  left: 0;
  height:24px;
  z-index: -1;
}

.violet{ color: #ffffff; }

.button:before{
  position: absolute;
  content: '';
  border-bottom: none;

  -webkit-transform: perspective(20px) rotateX(5deg);
  -moz-transform: perspective(20px) rotateX(5deg);
  transform: perspective(20px) rotateX(5deg);
}
.button:after{
  pointer-events: none;
  position: absolute;
  top: 28px;
  content: '';
  border-top: none;

  -webkit-transform: perspective(20px) rotateX(-5deg);
  -moz-transform: perspective(20px) rotateX(-5deg);
  transform: perspective(20px) rotateX(-5deg);
}