.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:url('../../assets/image/bg.png');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.notTimeZoneContainer {
  font-size: 0.7em;
}

.title {
  color: #f6e948;
  font-size: 1.8em;
  font-family: FridayCondensedBold;
}

.subTittle {
  font-family: FridayDisplayRegular;
  font-weight: normal;
  font-size: 1.3em;
  color: #ffffff;
}

.logo {
  width: 17em;
}

.content {
  padding: 15px;
}