.root {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

  background-image:url('../../assets/image/bg-quest.png');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  z-index: 100;
}

.footerContainer {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.title {
  font-family: FridayCondensedBold;
  margin-top: 10vh;
  font-size: 1.2em;
  color: #f6e948;
}

.subTittle {
  font-family: FridayDisplayRegular;
  font-weight: normal;
  font-size: 1.1em;
  color: #ffffff;
}

.time {
  color: #f6e948;
  rotate: -14deg;
  font-size: 0.9em;
  font-family: FridayCondensedBold;
  font-style: italic;
  margin: 0;
  span {
    font-size: 1.5em;
  }
}

.logo {
  width: 6em;
}

.imgContainer {
  border-radius: 50%;
  border: 2px solid #f6e948;
  overflow: hidden;
  width: 14em;
  height: 14em;

  @media (max-height: 750px) {
    width: 13em;
    height: 13em;
  }

  @media (max-height: 700px) {
    width: 12em;
    height: 12em;
  }

  @media (max-height: 690px) {
    width: 11em;
    height: 11em;
  }

  @media (max-height: 670px) {
    width: 10em;
    height: 10em;
  }
  @media (max-height: 600px) {
    width: 9em;
    height: 9em;
  }
  @media (max-height: 550px) {
    width: 8em;
    height: 8em;
  }

}

.children {
  width: 100%;
  height: 100%;
  align-self: center;
}

.content {
  display: grid;
  //flex-direction: column;
  //justify-content: flex-start;
  //align-items: center;
  justify-items: center;
  height: 100%;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #ffffff;
    font-size: 1.5em;
  }
}

.btnContainer {
  width: 120%;
}

.button {
  background: var(--violet);
  border: none;
  padding: 0.9em 2em;
  font-size: 1em;
  font-family: FridayCondensedBold;
  color: #ffffff;
  border-radius: 25px;
  width: 100%;
  white-space: nowrap;

  &:disabled {
    color: var(--violet);
    background: #f6e948;
    opacity: 0.6;
  }

  &:active {
    color: var(--violet);
    background: #f6e948;
  }

  &:hover {
    cursor: pointer;
  }
}
