.root {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

  background-image:url('../../assets/image/bg-quest.png');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  z-index: -2;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  gap: 10px;
}

.title {
  margin-top: 10vh;
  font-size: 1.2em;
  color: #f6e948;
}

.time {
  color: #f6e948;
  rotate: -10deg;
  font-size: 0.6em;
  span {
    font-size: 1.8em;
  }
}

.logo {
  width: 5em;
}

.children {
  width: 11em;
}

