body {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100vh;

  @media (max-height: 650px) {
    font-size: 13px;
  }
  @media (max-height: 600px) {
    font-size: 12px;
  }
  @media (max-height: 550px) {
    font-size: 11px;
  }

}
* {
  box-sizing: border-box;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --yellow: #f6e948;
  --violet: #e60086;
}

@font-face {
  font-family: FridayCondensedBold;
  src: url('./assets/fonts/Friday Condensed Bold.otf');
}

@font-face {
  font-family: FridayCondensedRegular;
  src: url('./assets/fonts/Friday Condensed Regular.otf');
}

@font-face {
  font-family: FridayDisplayBold;
  src: url('./assets/fonts/Friday Display Bold.otf');
}

@font-face {
  font-family: FridayDisplayRegular;
  src: url('./assets/fonts/Friday Display Regular.ttf');
}